@use "./variables" as *;

// COLORS
$colors: $uxi-colors;

// FONT-FAMILY
$font-families: $uxi-font-families;

// FONT-SIZE
$font-sizes: $uxi-font-sizes;

// FONT-WEIGHT
$font-weights: $uxi-font-weights;

// FONT-STYLE
$font-styles: $uxi-font-styles;

// TEXT-ALIGN
$text-align: $uxi-text-align;

// TEXT-DECORATION
$text-decoration: $uxi-text-decoration;

// TEXT-TRANSFORM
$text-transform: $uxi-text-transform;

// SPACING
$spacing: $uxi-spacing;

// RADIUS
$radius: $uxi-radius;

// DISPLAY
$display: $uxi-display;

// ALIGN-CONTENT
$align-content: $uxi-align-content;

// POSITION
$position: $uxi-position;

// Z-INDEX
$z-index: $uxi-z-index;

// BORDER-WIDTH
$border-width: $uxi-border-width;

// BORDER-STYLE
$border-style: $uxi-border-style;

// OUTLINE-WIDTH
$outline-width: $uxi-outline-width;

// VISIBILITY
$visibility: $uxi-visibility;

// OVERFLOW
$overflow: $uxi-overflow;

// OVERFLOW-X
$overflow-x: $uxi-overflow-x;

// OVERFLOW-Y
$overflow-y: $uxi-overflow-y;

// FLEX-DIRECTION
$flex-direction: $uxi-flex-direction;

// FLEX-WRAP
$flex-wrap: $uxi-flex-wrap;

// FLEX-GROW
$flex-grow: $uxi-flex-grow;

// FLEX-SHRINK
$flex-shrink: $uxi-flex-shrink;

// JUSTIFY-CONTENT
$justify-content: $uxi-justify-content;

// ALIGN-ITEMS
$align-items: $uxi-align-items;

// ALIGN-SELF
$align-self: $uxi-align-self;

// JUSTIFY-SELF
$justify-self: $uxi-justify-self;

// JUSTIFY-ITEMS
$justify-items: $uxi-justify-items;

// PLACE-ITEMS
$place-items: $uxi-place-items;

// PLACE-CONTENT
$place-content: $uxi-place-content;

// PLACE-SELF
$place-self: $uxi-place-self;

// CURSOR
$cursor: $uxi-cursor;

// OPACITY
$opacity: $uxi-opacity;

// SHADOW
$shadow: $uxi-shadow;

// TRANSITION
$transition: $uxi-transition;

// USER-SELECT
$user-select: $uxi-user-select;

// POINTER-EVENTS
$pointer-events: $uxi-pointer-events;

/* ==========================================
  LATER WORK
   ========================================== */
/* // Shadows 
$shadows: $uxi-shadows;

// Breakpoints 
$breakpoints: $uxi-breakpoints;*/